<div id="feedback">
  <div id="googleFeedback">
      <div class="feedback-window">
          <div class="dialog-mask"></div>
          {{if !state.isEditMode}}
          <div id="feedbackDialog" class="dialog">
              <div class="title" style="background: rgb(57, 134, 255);">{{:title}}</div>
              <div class="feedback-area">
                  <textarea placeholder="{{:placeholder}}"></textarea>
                  <div class="shot-switch clearfix">
                      <div class="checkbox">
                          <svg class="checkbox-icon exclude-shot " focusable="false" aria-label="" fill="#757575" 
                          viewBox="0 0 24 24" height="24" width="24">
                            <path d="M19 
                            5v14H5V5h14m0-2H5c-1.1 0-2 .9-2 2v14c0 1.1.9 2 2 2h14c1.1 0 2-.9 2-2V5c0-1.1-.9-2-2-2z">
                            </path></svg>
                          <svg class="checkbox-icon include-shot  active" focusable="false" aria-label="" 
                          fill="#3986FF" viewBox="0 0 24 24" height="24" width="24">
                          <path d="M19 3H5c-1.11 0-2 .9-2 2v14c0 1.1.89 2 2 
                          2h14c1.11 0 2-.9 2-2V5c0-1.1-.89-2-2-2zm-9 
                          14l-5-5 1.41-1.41L10 14.17l7.59-7.59L19 8l-9 9z">
                          </path></svg>
                      </div>
                      <label>{{:checkboxLabel}}</label>
                  </div>
                  <div class="screenshot-area">
                    <div class="loading">
                        <div class="loading-icon">
                            <svg
                                viewBox="0 0 40 40"
                                style="
                                        width: 40px;
                                        height: 40px;
                                        position: relative;
                                    ">
                                <circle
                                    cx="20" cy="20" r="18.25" fill="none"
                                    strokeWidth="3.5"
                                    strokeMiterlimit="20"
                                    style="
                                        stroke: rgb(57, 134, 255);
                                        stroke-linecap: round;
                                    "></circle>
                            </svg>
                            </div>
                            <!-- <span className="loading-text">{{:loadingTip}}</span> -->
                        </div>
                      <div class="screenshot">
                          <div class="to-edit">
                              <div class="edit-icon">
                                  <svg focusable="false" aria-label="" fill="#757575" 
                                  viewBox="0 0 24 24" height="48" width="48">
                                  <path d="M21 17h-2.58l2.51 2.56c-.18.69-.73 
                                  1.26-1.41 1.44L17 18.5V21h-2v-6h6v2zM19 
                                  7h2v2h-2V7zm2-2h-2V3.08c1.1 0 2 .92 2
                                   1.92zm-6-2h2v2h-2V3zm4 8h2v2h-2v-2zM9
                                   21H7v-2h2v2zM5 9H3V7h2v2zm0-5.92V5H3c0-1 
                                   1-1.92 2-1.92zM5 17H3v-2h2v2zM9 5H7V3h2v2zm4 
                                   0h-2V3h2v2zm0 16h-2v-2h2v2zm-8-8H3v-2h2v2zm0 8.08C3.9 21.08 3 20 3 19h2v2.08z">
                                   </path></svg>
                              </div>
                              <span class="edit-label">{{:editTip}}</span>
                          </div>
                          <img id="screenshotPrev" src="">
                      </div>
                  </div>
                  <!-- <div class="legal">
                    Go to the<a href="" >Legal Help page</a>to request content changes for legal reasons.
                    Some<a href="">account and system information</a>may be sent to MS.
                    We will use the information that you give us to help address technical issues and to improve our services, subject to our <a href="">Privacy Policy</a>and<a href="">Terms of Service.</a>
                  </div> -->
                  <div class="actions">
                      <div class="flatbutton cancel" style="color: rgb(117, 117, 117);">{{:cancelLabel}}</div>
                      <div class="flatbutton confirm" style="color: rgb(57, 134, 255);">{{:confirmLabel}}</div>
                  </div>
              </div>
          </div>
          {{else}}
          <div class="tool-bar clearfix">
          </div>
          {{/if}}
          <div class="hightlight-area"></div>
          <div class="black-area"></div>
      </div>
      <canvas id="feedbackCanvas" data-html2canvas-ignore="true" 
      width="1904" height="803" style="cursor: crosshair;"></canvas>
      <canvas id="shadowCanvas" data-html2canvas-ignore="true" width="1904" height="803"></canvas>
  </div>
</div>